{% load static %}
{% load view_functions %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HoodMap</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <style>
      table {
          text-align: left;
      }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
</head>
<body>
<h1>The Neighborhood</h1>

<div id="map"></div>

<script>
  async function main() {
    var map = L.map('map').setView([37.770541, -122.435223], 16);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      {#id: 'mapbox/satellite-v9',#}
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiamFzb25jYmVubiIsImEiOiJjbDBvd2UzeDYxdWlhM2lzNXg3cmZ0dm8xIn0.oPAb08Z-DAOcSj8wSe8y9Q'
    }).addTo(map);

  }

  main()

</script>

</body>
</html>