{% load static %}
{% load view_functions %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
{% for listing in listings %}
  <div class="info">
    <div class="title">{{ listing.address }}</div>
    <div>{{ listing.bedrooms|prettify_none }}BR / {{ listing.baths|prettify_none }}Ba</div>
    <div>{{ listing.sqft|maybe_intcomma|prettify_none }} sqft</div>
    <div><a href="{{ listing.zillow_url }}" target="_blank">Zillow</a></div>
    <div class="hidden" id="zillow_snapshot_id">{{ listing.id }}</div>
    <div class="shadow"></div>
  </div>
  <ul>
    {% for filename in listing.filenames %}
      <img src="{% static filename %}" alt="">
    {% endfor %}
  </ul>
{% endfor %}
<div class="prev-ratings">
  <div>
    <span>Rating as</span>
    <select name="rater_id" id="rater">
      {% for rater in raters %}
        {% if rater.id == active_rater_id %}
          <option selected value="{{ rater.id }}">{{ rater.name }}</option>
        {% else %}
          <option value="{{ rater.id }}">{{ rater.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div id="leaderboard-container">
    <div>Leaderboard</div>
    <div id="leaderboard" {% if is_leaderboard_hidden %}class="hidden"{% endif %}>
      {% for row in leaderboard %}
        <div>{{ row.name }}: {{ row.num_ratings }} ({{ row.calibration }})</div>
      {% endfor %}
    </div>
  </div>
  {% for rater in raters %}
    {% if rater.id == active_rater_id %}
      <div><a href="http://localhost:8000/admin/houses/rating/?rater__name={{ rater.name }}" target="_blank">View recent
        ratings</a></div>
    {% endif %}
  {% endfor %}
  <div class="shadow"></div>
</div>
<script>
  let isLeaderboardHidden = document.querySelector('#leaderboard').className === "hidden"
  document.addEventListener("DOMContentLoaded", function (event) {
    const validRatings = [...Array(10).keys()].map(x => x.toString())
    const skipRating = ' '
    const validInputs = [...validRatings, skipRating]

    function submitRating(e) {
      if (validInputs.includes(e.key) && !e.metaKey && !e.altKey && !e.ctrlKey && !e.shiftKey) {
        document.removeEventListener('keydown', submitRating)
        const raterId = document.querySelector('#rater').value
        const zillowSnapshotId = document.querySelector('#zillow_snapshot_id').textContent
        let value
        if (e.key === skipRating) {
          value = null
        } else {
          value = Number(e.key)
          if (value === 0) {
            value = 10
          }
        }
        console.log('valid!', value, raterId, zillowSnapshotId, e)
        fetch("/ratings", {
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({value, raterId, zillowSnapshotId, isLeaderboardHidden})
        }).then(res => {
          location.reload()
        });

      }
    }

    document.addEventListener('keydown', submitRating);

    document.querySelector('#leaderboard-container').addEventListener('click', e => {
      isLeaderboardHidden = !isLeaderboardHidden
      document.querySelector('#leaderboard').className = isLeaderboardHidden ? "hidden" : ""
    })
  });
</script>
</body>
</html>